In [1]:
import random
import pandas as pd
from names_dataset import NameDataset

In [2]:
nd = NameDataset()

In [21]:
print(nd.get_top_names(n=10, country_alpha2='US', use_first_names=True))

{'US': {'M': ['Jose', 'David', 'Michael', 'John', 'Juan', 'Carlos', 'Luis', 'Chris', 'Alex', 'Daniel'], 'F': ['Maria', 'Mary', 'Jennifer', 'Jessica', 'Michelle', 'Lisa', 'Sarah', 'Ana', 'Elizabeth', 'Laura']}}

In [19]:
us_d = nd.get_top_names(n=2000, country_alpha2='US', use_first_names=True)
us_d1 = nd.get_top_names(n=2000, country_alpha2='US', use_first_names=False)
uk_d = nd.get_top_names(n=2000, country_alpha2='GB', use_first_names=True)
uk_d1 = nd.get_top_names(n=2000, country_alpha2='GB', use_first_names=False)

In [20]:
first_names,last_names=[],[]
first_names.extend(us_d['US']['M'])
first_names.extend(us_d['US']['F'])
first_names.extend(uk_d['GB']['M'])
first_names.extend(uk_d['GB']['F'])
first_names = set(first_names)



last_names.extend(us_d1['US'])
last_names.extend(uk_d1['GB'])
last_names = set(last_names)
last_names = last_names - first_names

print(len(first_names), len(last_names))

6132 2457

In [ ]:
# names=['james','mary','robert','patricia','john','jennifer','michael','linda','william','elizabeth','david','barbara','richard','susan','joseph','jessica','thomas','sarah','charles','karen']
# surnames=['james','robert','john','michael','william','david','richard','joseph','thomas','charles']
# new_names=[names[random.randint(0,len(names)-1)]+' '+surnames[random.randint(0,len(surnames)-1)] for x in range(10000)]
# new=[]
# for item in new_names:
#     if item not in new:
#         new.append(item)
# print(len(new),len(names),len(surnames))

In [25]:
first_names,last_names = list(first_names), list(last_names)
new_names=set([first_names[random.randint(0,len(first_names)-1)]+' '+last_names[random.randint(0,len(last_names)-1)] for x in range(21000)])
print(len(new_names))

20983

In [28]:
# newer={}
# newer['name']=new_names
new_names=list(new_names)
ages=[]
boolean=[True,False]
boolean_value=[]
recipients = []
for count in range(len(new_names)):
    age=random.randint(18,95)
    ages.append(age)
    booleans=random.choice(['True','False'])
    boolean_value.append(booleans)
    recips=random.choice(['True','False'])
    recipients.append(recips)

# newer['age']=ages
# newer['bpl']=boolean_value

In [31]:
df = pd.DataFrame()

df['name']=new_names
df['age']=ages
df['bpl']=boolean_value
df['recipients']=recipients

df.head()

                 name  age   bpl recipients
0    Larissa Sandoval   42  True      False
1        Leanna Doyle   50  True       True
2        Dicky Borges   56  True       True
3  Princess Chavarria   20  True       True
4          Velma Hart   82  True      False

In [32]:
df.to_csv('dummy_dataset.csv', index=False)